*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ex1{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   align-content: space-between;
   height: 100vh;
}
.one{
    height: 100px;
    width: 100%;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}

.two{
    height: 300px;
    width: 50%;
    background-color: skyblue;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}
.three{
    height: 100px;
    width: 100%;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}
.ex2{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
   align-content: space-between;
   height: 71vh;
   gap: 5px;
}
.four{
    height: 150px;
    width: 100%;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}
.five{
    height: 200px;
    width: 20%;
    background-color: skyblue;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}
.six{
    height: 150px;
    width: 100%;
    background-color:skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}