{%extends 'base.html'%}
{%block content%}
<div>
    <h1><a href="{%url 'rent' customer.id%}">{{customer.first_name}} {{customer.last_name}}</a></h1> <hr>
    <h2>Email: {{customer.email}}</h2>
    <h2>Phone Number: {{customer.phone_number}}</h2>
    <h2>Address: {{customer.address}}</h2>
    {%if customer.city%}
        <h2>City: {{customer.city}}</h2>
    {%else%}
        <h2>City: Not Available</h2>
    {%endif%}
    {%if customer.country%}
        <h2>Country: {{customer.country}}</h2>
    {%else%}
        <h2>Country: Not Available</h2>
    {%endif%}
</div>
{%endblock%}