{%extends 'base.html'%}
{%block content%}
<div>
    <h1><a href="{%url 'customer' customer.id%}">{{customer.first_name}} {{customer.last_name}}</a></h1> <hr>
    <h2>Email: {{customer.email}}</h2>
    <h2>Phone Number: {{customer.phone_number}}</h2>
    <h2>Address: {{customer.address}}</h2>
    {%if customer.city%}
        <h2>City: {{customer.city}}</h2>
    {%else%}
        <h2>City: Not Available</h2>
    {%endif%}
    {%if customer.country%}
        <h2>Country: {{customer.country}}</h2>
    {%else%}
        <h2>Country: Not Available</h2>
    {%endif%}
    <hr>
    <h1>Rentals</h1>
    <h2>Vehicle: {{rental.vehicle}}</h2>
    <h2>Rental Date: {{rental.rental_date}}</h2>
    {%if rental.return_date%}
        <h2>Return Date: {{rental.return_date}}</h2>
    {%else%}
        <h2>Return Date : Vehicle Not Returned yet</h2>
    {%endif%}
    <hr>
    <h1>Vehicle</h1>
    <h2>Type: {{vehicle.type}}</h2>
    <h2>Size: {{vehicle.size}}</h2>
    <h2>Real Cost: ${{vehicle.real_cost}}</h2>
</div>
{%endblock%}