#sign{
    color: white;
   margin-right: 50px;
    margin-top: 5px;
}
#sign:hover{
    background-color:white;
    color: rgb(8, 123, 224);
}
button{
    background-color: rgb(8, 123, 224);
    padding: 10px 24px;
    border: none;
    border-radius:8px;
    text-decoration-color: white;
    text-decoration: white;
    transition-duration: 0.4s;
}
body{
    background-image: url("https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   background-attachment: fixed; 
   background-color: gray;
   background-blend-mode: darken;
}
#text{
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 200px;
    max-width: 40%;
    margin-left: 60vh;
}
.tap{
        background-color: rgb(8, 123, 224);
        padding: 5px 20px;
        border: none;
        border-radius:4px;
        text-decoration-color: white;
        text-decoration: white;
        transition-duration: 0.4s;
        color: white;
        margin-left: 0;
}
.tap:hover{
    background-color:white;
    color: rgb(8, 123, 224);
    
}

span{
    margin-left: 32%;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color:gray;
    height: auto;
    text-align: center;
}

i{
    color: dodgerblue;
    margin: 10px;
}
.icon{
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.head{
    color: black;
}