<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <h1>{{animal.name}}</h1> <b>Family Name: <a href="{%url 'family' animal.family.id%}">{{animal.family.name}}</a> </b>
    <ul>Number of Legs: {{animal.legs}}</ul>
    <ul>Animal weight: {{animal.weight}} Kg</ul>
    <ul>Animal height: {{animal.height}} Ft</ul>
    <ul>Animal speed: {{animal.speed}} Km/hr</ul>
    <h2>Image of a {{animal.name}}</h2>
    <img src="{{animal.image}}", alt="Image of a {{animal.name}}" height="500px", width="600px">
</body>
</html>