<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>GIPHY</h1><br>
    {% for gif in gifs %}

        <ul>Name of Gif: {{gif.title}} </ul>
        <ul><img src = "{{gif.url}}" alt="gif image"> </ul>
        <ul>Created by : {{gif.uploader_name}}</ul>
        <ul>Created at: {{gif.created_at}}</ul><br>
        <b> Likes:</b>{{gif.likes}}
        <br>
        <form method="get">
            <button value="{{gif.id}}" name="LIKE" type="submit">LIKE</button>
        </form>
        <form method="get">
            <button value="{{gif.id}}" name="DISLIKE" type="submit">DISLIKE</button>
        </form>
        <hr>
    
    {% endfor %}
</body>
</html>