<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number </title>
</head>
<body>
    <h1>{{personal_info.name}}'s Information</h1>
    <ul>Name: {{personal_info.name}}</ul>
    <ul>Email Address: {{personal_info.email}}</ul>
    <ul>Phone Number: {{personal_info.phone_number}}</ul>
    <ul>Address: {{personal_info.address}}</ul>
</body>
</html>