body{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   background-attachment: fixed; 
}